# 1. 변수

In [2]:
name = "홍길동"
age = 20
item_count = 15

print(name)

홍길동

In [3]:
print(age)

20

In [4]:
print(name, age, item_count)

홍길동 20 15

In [5]:
city = "seoul"
City = "busan"

print(city, City)

seoul busan

# 3. 자료형

## 1) 숫자형

### (1) 표현

In [9]:
# 정수
x = 5
y = -1
z = 0
money = 10000

print(x, y, z, money)

5 -1 0 10000

In [7]:
print(type(x))

<class 'int'>

In [10]:
# 실수
a = 3.141
b = -2.5
c = 0.00000000001

print (a, b, c)

3.141 -2.5 1e-11

In [11]:
x = 1.23456789e+10
y = 3e-5

print (x, y)

12345678900.0 3e-05

In [12]:
print(type(x))

<class 'float'>

In [13]:
z = 1.0

print(type(z))

<class 'float'>

### (2) 산술/복합 연산

In [ ]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

13
7
30
3.3333333333333335
3
1
1000

In [16]:
num3 = 12 / 3

print(type(num3))

<class 'float'>

In [17]:
num1 = 12
num2 = 3
num3 = num1 / num2

print(num3)
print(type(num3))

4.0
<class 'float'>

In [19]:
money = 50000
print("내 잔고:", money)

money += 20000
print("내 잔고:", money)

money -= 18000
print("내 잔고:", money)

내 잔고: 50000
내 잔고: 70000
내 잔고: 52000

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [29]:
post_page = 100
post_per_page = 30

page_num = post_page // post_per_page
num_remain = 100 % 3

if (num_remain == 0) :
    print("답은", page_num, "페이지 입니다.")
else : 
    print("답은", page_num + 1, "페이지 입니다.")

답은 4 페이지 입니다.

출생년도가 1982일 때 홀수, 짝수 판단하기

In [28]:
num1 = 1982
is_odd = num1 % 2

if(is_odd == 0) :
    print("출생년도가", num1, "일 때 이는 짝수 입니다.")
else :
    print("출생년도가", num1, "일 때 이는 홀수 입니다.")

출생년도가 1982 일 때 이는 짝수 입니다.

## 2) ⭐ 문자열

### (1) 표현

In [30]:
message = "안녕하세요"
print(message)
print(type(message))

안녕하세요
<class 'str'>

In [31]:
message = "I\'m hungry"
print(message)

I'm hungry

In [32]:
message = '"철수가 말했습니다"'
print(message)

"철수가 말했습니다"

In [33]:
message = "\"철수가 말했습니다\""
print(message)

"철수가 말했습니다"

In [34]:
review = """짜장면 너무 맛있어요
여러분 꼭 사드세요
완전 추천합니다."""
print(review)

짜장면 너무 맛있어요
여러분 꼭 사드세요
완전 추천합니다.

### (2) 연산

In [ ]:
# +(결합)

text1 = "안녕"
text2 = "반가워"

print(text1 + text2)

안녕반가워

In [36]:
# *(반복)

text3 = "Hello"

print(text3 * 3)

HelloHelloHello

In [37]:
# debug

print("=" * 50)
print("반복1 이 시작되었습니다.")
print("=" * 50)

==================================================
반복1 이 시작되었습니다.
==================================================

In [ ]:
name1 = "홍길동"
name2 = "홍길동 "

print(name1)
print(name2)

홍길동
홍길동

In [41]:
print(len(name1))
print(len(name2))

3
4

### (3) 인덱싱/슬라이싱

#### 슬라이싱

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [43]:
private_rec_num = "010101-3123456"
print(private_rec_num[:8]+"*******")

010101-3*******

### (4) 문자열 포매팅(f-string)

In [ ]:
name = "김선재"
print(f"{name}님 환영합니다.")

{name}님 환영합니다.

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [49]:
address1 = "서울시 관악구 신림동"
address2 = "강남구/동작구/노원구"

address1_list = address1.split(" ")
address2_list = address2.split("/")

print(address1_list)
print(address2_list)

['서울시', '관악구', '신림동']
['강남구', '동작구', '노원구']

예제. 파일 확장자 찾기

In [50]:
file_name1 = "data.txt"
file_name2 = "test.ipynb"
file_name3 = "time_stamp.json"

# 확장자 추출

file_name1_ext = file_name1.split(".")[-1]
file_name2_ext = file_name2.split(".")[-1]
file_name3_ext = file_name3.split(".")[-1]

print(file_name1_ext)
print(file_name2_ext)
print(file_name3_ext)

txt
ipynb
json

#### 문자열 대체(replace)

In [51]:
email = "jason@company.com"

print(email.replace("jason", "peter"))

peter@company.com

#### 대/소문자 변환(lower, upper)

In [52]:
gender = "mmffMFmf"
print(gender)
print(gender.upper())
print(gender.lower())

mmffMFmf
MMFFMFMF
mmffmfmf

#### 공백 제거(lstrip/rstrip/strip)

In [54]:
name1 = "    홍길동     "

print(name1)
print(f"|{name1}|")
print(f"|{name1.strip()}|")
print(f"|{name1.lstrip()}|")
print(f"|{name1.rstrip()}|")

    홍길동
|    홍길동     |
|홍길동|
|홍길동     |
|    홍길동|

#### 카운트 세기(count)

In [56]:
gender = "mmffMFmf"
gender2 = gender.lower()

print(gender.count("m"))
print(gender2.count("m"))

3
4

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [68]:
review = """짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿"""

keyword1 = "짜장"
keyword2 = "짬뽕"
print(f"짜장에 대한 리뷰수는 {review.count(keyword1)} 개 입니다.")
print(f"짬뽕에 대한 리뷰수는 {review.count(keyword2)} 개 입니다.")

짜장에 대한 리뷰수는 2 개 입니다.
짬뽕에 대한 리뷰수는 1 개 입니다.

## 3) 리스트(List)

### (1) 표현

In [2]:
# 정수 int 실수 float 문자열 str 리스트 list 튜플 tuple 딕셔너리 dict 집합 set 불 bool

mylist = []
print(mylist)
print(type(mylist))

[]
<class 'list'>

In [ ]:
jan = 20000
feb = 5000
mar = 30000

money = jan + feb + mar

In [3]:
money2025 = [2000, 40000, 5000]
print(sum(money2025))

47000

In [4]:
mylist = [1, 2, 3, "가", ["A", "B", "C", 1, True], (1, 2), {"Key" : "Value"}]
print(mylist)

[1, 2, 3, '가', ['A', 'B', 'C', 1, True], (1, 2), {'Key': 'Value'}]

### (2) 인덱싱/슬라이싱

#### 인덱싱

In [6]:
text = "가나다라마바사"
print(len(text))

7

In [7]:
data = [['홍길동', 30], ['박영희', 22], ['김철수', 25]]
print(data)
print(len(data))

[['홍길동', 30], ['박영희', 22], ['김철수', 25]]
3

In [9]:
# index

print(data[1])

print(data[1][1])

['박영희', 22]
22

#### 슬라이싱

In [27]:
# 뒤에서부터 차례로 추출

orders = ["pasta", "pizza", "coke", "bread"]

print(orders[::-1])

['bread', 'coke', 'pizza', 'pasta']

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [10]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[3][1])

cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [11]:
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
print(data[3][:2])

['dog', 'cat']

### (2) 연산

#### 덧셈

In [12]:
# 덧셈 (결합)

data1 = [1, 2, 3]
data2 = ["A", "B"]

result = data1 + data2
print(result)

[1, 2, 3, 'A', 'B']

In [15]:
jan_money = [10, 0, 3, 2]
feb_money = [2, 50, 23, 29]

total_money = jan_money + feb_money
print(total_money)
print(sum(total_money))

[10, 0, 3, 2, 2, 50, 23, 29]
119

#### 곱셈

In [13]:
data = [1, 2, 3]

result = data * 3
print(result)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### (3) range

In [16]:
# 연속된 숫자를 리스트로 만들고 싶어요

num_list = range(4)

print(num_list)
print(type(num_list))

range(0, 4)
<class 'range'>

In [17]:
num_list = list(range(4))

print(num_list)
print(type(num_list))

[0, 1, 2, 3]
<class 'list'>

In [23]:
# 3부터 9까지의 범위를 리스트로 출력하고 싶어요
test_list1 = list(range(3,10))
print(test_list1)

# 1에서 10까지 홀수만 출력하고 싶어요
test_list2 = list(range(1,11,2))
print(test_list2)

# 0에서 5까지의 범위를 거꾸로 출력하고 싶어요
test_list3 = list(range(5,-1,-1))
print(test_list3)

[3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[5, 4, 3, 2, 1, 0]

### (4) 수정/추가/삭제

#### 수정

In [42]:
# 0에서 7까지의 범위를 리스트로 출력
num_list = list(range(8))
print(num_list)

# 1번째 값을 '일' 로 바꾸기
print(num_list[1])
num_list[1] = '일'
print(num_list[1])

# 5번째 값을 '오' 로 바꾸기
print(num_list[5])
num_list[5] = '오'
print(num_list[5])

# 2번째에서 3번째까지의 값을 영어로 바꾸기
num_list[2:4] = ['two', 'three']
print(num_list)

# 3번째에서 끝까지 데이터를 "하하하"로 바꾸기
num_list[3:] = ["하하하"] * len(num_list[3:])
print(num_list)

# 처음부터 3번째까지의 데이터를 10으로 바꾸기
num_list[:4] = [10] * len(num_list[:4])
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7]
1
일
5
오
[0, '일', 'two', 'three', 4, '오', 6, 7]
[0, '일', 'two', '하하하', '하하하', '하하하', '하하하', '하하하']
[10, 10, 10, 10, '하하하', '하하하', '하하하', '하하하']

#### 추가

In [ ]:
data = list(range(5))
print(data)

# 데이터 한 개 추가
data += [5]
print(data)


# 데이터 한 번 추가 ([1, 2, 3]를 추가)
data += [1, 2, 3]
print(data)

# 데이터 한 개 추가 ([1, 2, 3, 4, 5]를 추가)
data.append([1, 2, 3, 4, 5])
print(data)

# 데이터 여러 개 추가
data.extend([1, 2, 3, 4, 5])
print(data)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 1, 2, 3, [1, 2, 3, 4, 5]]
[0, 1, 2, 3, 4, 5, 1, 2, 3, [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

#### 삽입

In [51]:
# insert(위치, 값) : 위치에 값을 추가한다.

num_list = [10, 20, 30]
print(num_list)

num_list.insert(2, 40)
print(num_list)

[10, 20, 30]
[10, 20, 40, 30]

#### 삭제

In [ ]:
num_list = list(range(0, 100, 10))
print(num_list)

# 3번째 데이터를 삭제해주세요 (del 이용)
del num_list[3]
print(num_list)

# 7번째 데이터를 삭제해주세요 (remove 이용)
num_list.remove(80)
print(num_list)

# 뒤에서 3번째부터 끝까지 데이터를 삭제해주세요
num_list[-3:] = []
print(num_list)

# 맨 뒤에 있는 데이터를 삭제하고 그 값을 출력해주세요 (pop 이용)
print(num_list.pop())

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 70, 90]
[0, 10, 20, 40, 50]
50

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [2]:
# "ID003" 데이터에 오류가 생겼다.
# 오류가 생긴 데이터는 삭제하고 error_data 에 담아주세요

post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
pop_data = post_data.pop(2)
print(pop_data)
print(post_data)

error_data = []
error_data.append(pop_data)
print(error_data)

ID003
['ID001', 'ID002', 'ID004', 'ID005']
['ID003']

* append / extend 차이 알기

인스타그램 태그 수집기 

post1 : #헬스, #단백질

post2 : #닭가슴살, #다이어트, #단백질

post3 : #요요, #헬스, #다이어트

post4 : #닭가슴살, #단백질

문제 1. 인스타그램 포스트별로 데이터를 수집하고 싶다

문제 2. 모든 해시태그들을 tags라는 변수에 담고 싶다

문제 3. 해시태그 카테고리가 몇 개인지 알고 싶다

In [ ]:
post1 = ["#헬스", "#단백질"]
post2 = ["#닭가슴살", "#다이어트", "#단백질"]
post3 = ["#요요", "#헬스", "#다이어트"]
post4 = ["#닭가슴살", "#단백질"]
posts = [post1, post2, post3, post4]

part1_dict = {}
part1_dict["post1"] = post1
part1_dict["post2"] = post2
part1_dict["post3"] = post3
part1_dict["post4"] = post4
print(part1_dict)

tags = []
for keys in part1_dict.keys() :
    tags.extend()
print(tags)

tags_category = set(tags)
print(tags_category)

KeyError: "['#헬스', '#단백질']"

## 4) 튜플(Tuple)

### (1) 표현

In [5]:
# 빈 튜플 만들기
blank_tuple = ()

# 튜플 데이터의 타입 출력하기
print(type(blank_tuple))

<class 'tuple'>

In [8]:
# 요소가 1개인 튜플 만들기 (데이터 10)
data_tuple = (10,)
print(data_tuple)
print(type(data_tuple))

(10,)
<class 'tuple'>

In [ ]:
# 수정 불가

fruits = ("사과", "오렌지", "포도")
fruits[1] = "멜론"
print(fruits)

In [ ]:
# 삭제 불가

fruits = ("사과", "오렌지", "포도")
del fruits[1]
print(fruits)

In [ ]:
# 추가 불가

fruits = ("사과", "오렌지", "포도")
fruits.append("멜론")
print(fruits)

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [ ]:
# 딕셔너리 만들기
blank_dict = {'name' : "김선재", 
            'gender' : "M",
            'age' : 12}

# 딕셔너리 타입, 출력
print(blank_dict)
print(blank_dict['name'])
print(type(blank_dict))

{'name': '김선재', 'gender': 'M', 'age': 12}
김선재
<class 'dict'>

In [15]:
score_data1 = {
    "이름" : ["홍길동", "최수연", "김철수"],
    "성적" : [68, 44, 90]
}
score_data2 = {
    "홍길동" : 68, "최수연" : 44, "김철수" : 90
}

print(score_data1)
print(score_data2)

{'이름': ['홍길동', '최수연', '김철수'], '성적': [68, 44, 90]}
{'홍길동': 68, '최수연': 44, '김철수': 90}

In [17]:
score_data3 = [
    {"이름" : "홍길동", "성적" : 68},
    {"이름" : "최수연", "성적" : 44},
    {"이름" : "김철수", "성적" : 90},
]

print(score_data3)

[{'이름': '홍길동', '성적': 68}, {'이름': '최수연', '성적': 44}, {'이름': '김철수', '성적': 90}]

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [27]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

weather_data['city'] = 'Busan'
print(weather_data)

weather_data['pm10'] = 34
print(weather_data)

weather_data['forecast'].extend(['Rainy','Rainy'])
print(weather_data)

{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy']}
{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy'], 'pm10': 34}
{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy'], 'pm10': 34}

### (3) 관련 메서드

#### 조회

In [ ]:
student_list = ["홍길동", "김예지", "김사랑"]
student_dict = {"홍길동" : "참석"}

print(student_list)
print(student_dict)

for student in student_list :
    if student not in student_dict.keys() :
        student_dict[student] = "참석"

print(student_dict)

['홍길동', '김예지', '김사랑']
{'홍길동': '참석'}
{'홍길동': '참석', '김예지': '참석', '김사랑': '참석'}

In [51]:
# student에 딕셔너리 a라는 키가 있으면 값을 A라고 바꿔주고 아니라면 a라는 키에 값은 ""을 가지게 만들어주세요

student = {'a' : 'a', 'b' : 'b', 'c' : 'c'}
print(student)

if "a" in student.keys() :
    student["a"] = "A"
else:
    student["a"] = ""

print(student)

{'a': 'a', 'b': 'b', 'c': 'c'}
{'a': 'A', 'b': 'b', 'c': 'c'}

#### 삭제

## 6) 집합

### (1) 표현

In [34]:
set_list = []
myset = set(set_list)

print(myset)
print(type(myset))

set()
<class 'set'>

In [35]:
set_list = [1, 1, 4, 5, 5, 5, 5, 5, 3]
myset = set(set_list)

print(myset)
print(type(myset))

{1, 3, 4, 5}
<class 'set'>

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [36]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
set_mails = set(emails)

print(set_mails)

{'user3@example.com', 'user1@example.com', 'user2@example.com'}

In [ ]:
# 집합은 Indexing 불가

print(set_mails[0])

### (2) 요소 추가/제거

#### 추가

In [ ]:
myset = {1, 2, 3, 4, 5, 9}
print(myset)

# 6을 추가하기
myset.add(6)

# 5 추가하기
myset.add(5)

print(myset)

# 4, 7, 8 추가하기
myset.update([4, 7, 8])
print(myset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

#### 제거

In [43]:
# remove, discard
myset = {1, 2, 3, 4, 5, 9}
print(myset)

# 5 제거하기
myset.remove(5)
print(myset)

# 9 제거하기
myset.remove(9)
print(myset)

# discard의 경우 요소가 없어도 에러 출력하지 않음, remove는 에러 출력
myset.discard(11)
print(myset)

{1, 2, 3, 4, 5, 9}
{1, 2, 3, 4, 9}
{1, 2, 3, 4}
{1, 2, 3, 4}

### (3) 연산

<img src='https://www.dropbox.com/scl/fi/o9jjkizgbclwemi9wot4h/.png?rlkey=35o0zu24jc99ggiv9ex3pukqf&st=f69cko7q&dl=1' width=30%>

In [45]:
set1 = {"A", "C", "D", "F", "G"}
set2 = {"A", "B", "F", "H"}

# 합집합 (A 또는 B, A or B)
set_union1 = set1 | set2
print(set_union1)
set_union2 = set1.union(set2)
print(set_union2)

# 교집합 (A 그리고 B, A and B)
set_inter1 = set1 & set2
print(set_inter1)
set_inter2 = set1.intersection(set2)
print(set_inter2)

# 차집합 (A, A - B)
set_diff1 = set1 - set2
print(set_diff1)

# 차집합 (B, B - A)
set_diff2 = set2 - set1
print(set_diff2)

{'C', 'D', 'A', 'F', 'G', 'B', 'H'}
{'C', 'D', 'A', 'F', 'G', 'B', 'H'}
{'A', 'F'}
{'A', 'F'}
{'C', 'G', 'D'}
{'B', 'H'}

## 7) 불

In [46]:
switch = True
login = False

In [49]:
login = True
if login :
    print("환영합니다")

환영합니다

In [50]:
visitors = ["A", "C", "G"]
if "H" not in visitors :
    print("'H' 는 오늘 출근하지 않았습니다.")

'H' 는 오늘 출근하지 않았습니다.