# 제어문

# 1. 조건문

## 1) 연산자

In [6]:
# 미성년자 판단하기 (만 18세 이상)
# 나이를 age 라는 변수로 만들고
# age가 18 미만이면 "미성년자입니다" 라고 출력해주세요

age = 16

if age < 19 :
    print("미성년자입니다.")

미성년자입니다.

In [9]:
# 나이를 age 라는 변수로 만들고
# age가 18 미만이면 "미성년자입니다" 라고 출력하고, 이상이면 "성인입니다" 라고 출력해주세요

age = 59

if age < 19 :
    print("미성년자입니다.")
elif age >= 19 :
    print("성인입니다.")

성인입니다.

In [ ]:
# 등급에 따라 메시지 출력하기
# A-Perfect, B-Excellent, C-Good, 그 외 노력하세요 라고 출력해주세요

grade = 'C'

if grade == 'A' :
    print("Perfect")
elif grade == 'B' :
    print("Excellent")
elif grade == 'C' :
    print("Good")
else : 
    print("노력하세요")

Good

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

In [14]:
age = 14
height = 119

if (age >= 10) & (height >= 120) :
    print("통과")
else :
    print("탑승불가")

탑승불가

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% 할인

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

In [16]:
price = 80000
level = "Gold"

if (price >= 100000) | (level == "Gold") :
    print("10% 할인 가능")
else :
    print("10% 할인 불가")

10% 할인 가능

## 2) 활용

In [ ]:
# 지갑 안에 운전면허증(lisence)이 있다면 통과이고 없으면 벌금이다.
# 만약 벌금을 납부하게 되면 지갑에 카드(credit card)가 있으면 카드 결제이고 아니면 현금 납부이다.
# 이 사람은 어떻게 해야 하는가?

wallet = ["credit card", "trash"]

if "lisence" in wallet :
    print("통과입니다.")
else :
    print("벌금 대상자입니다.")
    if "credit card" in wallet :
        print("카드를 통해 벌금을 납부했습니다.")
    else :
        print("현금을 통해 벌금을 납부했습니다.")

벌금 대상자입니다.
카드를 통해 벌금을 납부했습니다.

## 4) 예제

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [5]:
temperature = 30

if (temperature > 15) & (temperature < 25) :
    print("온도가 15도와 25도 사이입니다.")
else :
    print("온도가 15도와 25도 사이가 아닙니다.")

###############

stuendt_GPA = 3.2

if stuendt_GPA >= 4.0 :
    print("GPA가 4.0 이상이라 100% 장학금을 받습니다.")
elif stuendt_GPA >= 3.5 :
    print("GPA가 3.5 이상이라 50% 장학금을 받습니다.")
elif stuendt_GPA >= 3.0 :
    print("GPA가 3.0 이상이라 30% 장학금을 받습니다.")
else :
    print("GPA가 3.0 미만이라 장학금을 받을 수 없습니다.")

################

text = "데이터 분석은 흥미롭고 중요한 분야입니다."
search_word = "AI"

if search_word in text :
    print("찾으시는 단어가 문장에 포함되어 있습니다.")
else :
    print("찾으시는 단어가 문장에 포함되어 있지 않습니다.")

온도가 15도와 25도 사이가 아닙니다.
GPA가 3.0 이상이라 30% 장학금을 받습니다.
찾으시는 단어가 문장에 포함되어 있지 않습니다.

# 2. 반복문

## 1) While 문

<img src='https://www.dropbox.com/scl/fi/r0815e20gb2hv6a599i00/_-while.png?rlkey=dexzbwy3xu4phnzvo65cb6hbq&st=ykavuhx3&dl=1' width=30%>

### (1) 표현

In [6]:
count = 0

while count < 10 :
    print(f"현재 카운트는 {count} 입니다.")
    count += 1

현재 카운트는 0 입니다.
현재 카운트는 1 입니다.
현재 카운트는 2 입니다.
현재 카운트는 3 입니다.
현재 카운트는 4 입니다.
현재 카운트는 5 입니다.
현재 카운트는 6 입니다.
현재 카운트는 7 입니다.
현재 카운트는 8 입니다.
현재 카운트는 9 입니다.

### (2) break

In [9]:
# count 0 -> True -> count 1 -> "1" -> False
# count 1 -> True -> count 2 -> "2" -> False
# count 2 -> True -> count 3 -> "3" -> False
# count 3 -> True -> count 4 -> "4" -> True -> break
count = 0
while True:
    count += 1
    print(count)

    if count > 3:
        break

# count 0 -> True -> count 1 -> False -> "1"
# count 1 -> True -> count 2 -> False -> "2"
# count 2 -> True -> count 3 -> False -> "3"
# count 3 -> True -> count 4 -> True -> break
count = 0
while True:
    count += 1

    if count > 3:
        break

    print(count)

1
2
3
4
1
2
3

### (2) continue

In [ ]:
# count 0 -> True -> count 1 -> True -> continue
# count 1 -> True -> count 2 -> False -> "2"
# count 2 -> True -> count 3 -> True -> continue
# count 3 -> False

count = 0
while count < 3 :
    count += 1

    if count % 2 != 0:
        continue

    print(count)

2

## 2) For 문

<img src='https://www.dropbox.com/scl/fi/eezsh68wobwm87rhh7209/_-for.png?rlkey=w1mhrm40cg413ajdajix0bb9m&st=ptyurj6a&dl=1' width='30%'>

### (1) 표현

In [11]:
num_list = [1, 2, 3]

for num in num_list:
    print(num)

1
2
3

### (2) 관련 주요 함수

In [12]:
for i in range(1,6) :
    print(i)

1
2
3
4
5

In [13]:
students = ["홍길동", "김철수", "한유리", "정성우"]

for student in students :
    print(student)

홍길동
김철수
한유리
정성우

In [18]:
students = ["홍길동", "김철수", "한유리", "정성우"]

for i in range(len(students)) :
    print(i, students[i])

0 홍길동
1 김철수
2 한유리
3 정성우

In [20]:
students = ["홍길동", "김철수", "한유리", "정성우"]

for i, student in enumerate(students) :
    print(i, student)

0 홍길동
1 김철수
2 한유리
3 정성우

In [ ]:
# # 미션
# score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}

score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}

# ## 출력 결과
# 홍길동
# 최수연
# 김철수

for name in score_data :
    print(name)

# ## 출력 결과
# 68
# 44
# 90

for name in score_data :
    print(score_data[name])

# ## 출력 결과
# 홍길동 68점
# 최수연 44점
# 김철수 90점

for name in score_data :
    print(f"{name} {score_data[name]}점")

홍길동
최수연
김철수
68
44
90
홍길동 68점
최수연 44점
김철수 90점

In [29]:
names = ["홍길동", "최수연", "김철수"]
scores = [68, 44, 90]

for name, score in zip(names, scores) :
    print(f"{name} {score}점")

홍길동 68점
최수연 44점
김철수 90점

### (3) break/continue

#### break

In [32]:
# 1부터 10까지 숫자를 하나씩 출력하고 7이 나오면 반복문 중지

for i in range(1, 11) :
    print(i)
    if i == 7 :
        break

1
2
3
4
5
6
7

#### continue

In [31]:
# 1부터 10까지 숫자 중에서 5만 뺴고 출력하기

for i in range(1, 11) :
    if i == 5 :
        continue
    print(i)

1
2
3
4
6
7
8
9
10

### (4) 활용

## 3) 예제

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

In [24]:
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}

for grade in grades :
    print(f"{grade} 님의 성적은 {grades[grade]}점 입니다.")

John 님의 성적은 85점 입니다.
Emily 님의 성적은 92점 입니다.
Tom 님의 성적은 78점 입니다.
Lucy 님의 성적은 88점 입니다.

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

In [26]:
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]

for temperature in temperature_data :
    if temperature >= 30 :
        print(f"{temperature}")

35.2
40.1

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

In [27]:
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]

total_profit = 0

for order in orders :
    total_profit += order["amount"]

print(total_profit)

304000

예제 4. 리뷰 데이터

짜장면이 언급된 데이터만 출력하세요

```
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]
```

In [28]:
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]

wanted_keyword = "짜장면"

for review in reviews :
    if wanted_keyword in review :
        print(review)

맛있어요! 짜장면 최고예요!
짜장면이 너무 짰어요.

## 4) List Comprehension

In [34]:
num_list = [i for i in range(1, 11)]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
num_list = [i**2 for i in range(1, 11)]
print(num_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
# 1~10까지의 짝수 리스트를 만들고 싶다.

num_list = [i for i in range(1, 11) if i % 2 == 0]
print(num_list)

[2, 4, 6, 8, 10]

In [ ]:
# 1~10까지 짝수는 "짝수", 홀수는 "홀수"라고 써진 리스트틑 만들고 싶다.

num_list = ["짝수" if i % 2 == 0 else "홀수" for i in range(1, 11)]
print(num_list)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']